@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
.ui-body-c, 
.ui-overlay-c {
    background: none;
}
.ui-mobile {
    
}
body{
    font-size: 11px;
    line-height: 1.4;
}
.ui-mobile-viewport {
    background: transparent url(../img/body-bg.jpg) 0 0 repeat;
    background-size: 50% 50%;
}
a{
    color:#00919e;
    &:hover{
        text-decoration:none
    }
}
.l-layout {
    margin: 0 auto -120px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.push {
    clear: both;
    height: 120px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}
.ui-body-c {
    color: #bd4900;
    text-shadow: none;
    font-weight: normal;
    @include got_m;
    font-size: 11px;
    .ui-link {
        color: #bd4900;
        text-shadow: none;
        @include got_m;
    }
}  
.ui-page {
    background: none;  
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.ui-header {
    @include box-shadow(0 1px 0 rgba(0,0,0,.2));
    border: 0;
    text-shadow: 0 1px 1px #000;
    background: url(../img/header-bg.png) 0 0 repeat-x;
    @include background-size(auto, 100%);
    z-index: 10000;
    .ui-btn {
        margin-top: 4px;
        padding: 6px 3px;
        width: 32px;
        height: 32px;
        @include box-sizing(border-box);
    }
    .btn-menu {
        .ui-btn-inner {
            @include icon-svg(menu, 24, 18);
        }
    }
    .btn-goblet {
        .ui-btn-inner {
            @include icon-svg(goblet, 24, 18);
        }
    }
    .btn-info {
        padding: 6px 5px;
    }
    .ui-title {
        font-size: 18px;
        @include hel_b;
    }
    .btn-prev {
        @include icon-svg(prev, 44, 33);  
        background-color: transparent;
        @include box-shadow(none);
        border: none;
        &:hover {
            @include icon-svg(prev-h, 44, 33);  
            background-color: transparent;
        }
        .ui-btn-inner {  
            
        }
    }
}

/* -------------------------------------- //END Header ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
.is-with-sidebar {
    .sidebar {
        width: 190px;
        margin-left: 0;
    }
    .content-wrap {
        margin-right: -100%;
    }
    .map,
    .camera-img {
        margin-left: 210px;
    }
    .overlay-sidebar {
        display: block;
    }
}
.sidebar,
.map,
.content-wrap,
.camera-img {
    @include transition(all 200ms linear);
}
.sidebar {
    position: relative;
    z-index: 2000;
    float: left;
    width: 100%;
    margin-left: -100%;
}
.content-wrap {
    float: left;
    width: 100%;
}

.overlay-sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.ui-content {
    .ui-btn {
        @include box-shadow(0 1px 0 rgba(255,255,255,.4));
    }
}

.ui-btn {
    @include box-sizing(border-box);
    @include border-radius(5px);
    border: 1px solid #bd4900;
    @include background-image(linear-gradient(#ff7900, #f50));
    &:hover {
        @include background-image(linear-gradient(#f50, #ff7900));
    }
    .ui-btn-inner {
        padding: 0;
        @include border-radius(0);
        border: none;
    }
    .ui-btn-text {
        font-size: 11px;
        color: #fff;
        @include got_m;
        text-shadow: 0 1px 0 #bd4900;
    }

}

.ui-field-contain {
    border: 0;
    .ui-btn {
        margin: 0 auto;
        width: 81px;
        height: 26px;
        color: #fff; 
        text-shadow: 0 1px 0 #bd4900;
        border: 1px solid #BD4900;
        @include box-shadow(none);
        &:hover {
           color: #fff;
        }
        .ui-btn-inner {
            padding: 4px 0 0;
            border: 0;
            line-height: 1;
        }
        .ui-btn-text {
            font-size: 11px;
        }
    }
}
.ui-input-text {
    width: 80px;
    background: #eacb97;
    border: 1px solid #da9945;
    @include placeholder(#bd4900, Arial);
    text-shadow: none;
    text-align: left;
    height: 32px;
    font-size: 10px !important;
    @include box-sizing(border-box);
    @include box-shadow(0 1px 0 #fff);
    .ui-input-text {
        @include box-shadow(none);
    }
}
.fb-connect-link {
    margin: 20px auto 10px;
    display: block;
    width: 140px;
    height: 23px;
    background: url(../img/fb-connect.png) 0 0 no-repeat;
    @include background-size(100%, 100%);
}
.ui-panel {
    border: 0;
}

/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.ui-footer {
    height: 65px;
    border: 0;
    background: none;
    overflow: visible;
    .ui-btn-inner {
        border: 0;
    }
    .ui-btn-text {
        color: #fff;
        font-size: 12px;
        text-shadow: 0 1px 1px rgba(0,0,0,.6);
    }
    .footer-nav {
        position: absolute;
        z-index: 2;
        color: #fff !important;
        font-size: 12px;
        text-decoration: none;
        @include hel_m;
        text-shadow: 0 1px 1px rgba(0,0,0,.6);
    }
    .footer-nav_joystick {
        background-color: transparent;
        border: none;
        @include box-shadow(none);
    }
}
.footer-wrap {
    position: relative;
    height: 65px;
    background: none;
    @include border-radius(6px 6px 0 0);
    border-bottom: 2px solid #bd4B17;
    @include box-sizing(border-box);
    overflow: hidden;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 63px;
        background: url(../img/footer-bg.png) 0 0 repeat-x;
        @include background-size(auto, 100%);
    }
    &:before {
        left: 0;
        right: 50%;
        margin-left: -53px;
    }
    &:after {
        left: 50%;
        right: 0;
        margin-left: 53px;
    }
    .ui-btn {
        background-color: transparent;
        @include background-image(none);
        @include box-shadow(none);
        border: 0;
        @include border-radius(none);
    }
}
.footer-wrap__left,
.footer-wrap__right {
    position: absolute;
    top: 0;
    width: 23px;
    height: 63px;
    z-index: 2;
}
.footer-wrap__left {
    left: 0;
    background: url(../img/footer-l.png) 0 0 no-repeat;
    @include background-size(auto, 100%);
}
.footer-wrap__right {
    right: 0;
    background: url(../img/footer-r.png) 0 0 no-repeat;
    @include background-size(auto, 100%);
}
.footer-midlle {
    position: absolute;
    left: 50%;
    margin-left: -108px;
    width: 216px;
    height: 63px;
    background: url(../img/footer-m.png) 0 0 no-repeat;
    @include background-size(auto, 100%);
}

.footer-nav_cards {
    left: 35px;
    top: 40px;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -19px;
        top: -32px;
        @include icon-svg(cards, 38, 30);  
    }
}
.footer-nav_cards.is-active {
    &:before {
        @include icon-svg(cards-act, 38, 30);  
    }
}
.footer-nav_places {
    right: 35px;
    top: 40px;
     &:before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -12px;
        top: -32px;
        @include icon-svg(places, 24, 32);  
    }
    &:active {
        color: #fff;
    }
}
.footer-nav_places.is-active {
    &:before {
        @include icon-svg(places-act, 24, 32);  
    }
}
.footer-nav_joystick {
    left: 50%;  
    top: -35px;  
    margin-left: -42px !important;  
    @include icon-svg(joystick, 85, 85);
    &:hover {
        @include icon-svg(joystick, 85, 85);
    }
}


/* -------------------------------------- //END Footer ------------------------------------------- */