@import "base";

// Login page and registration page
.login-content {
	text-align: center;
}
.ui-link.forgot-pass-link {
	font-size: 10px;
	color: #bd4900;
	font-weight: normal;
	text-shadow: none;
}
.ha-ha-funny {
	margin-top: 20px;
}

// About us page
.about-us-content {
	margin: 0 auto;
	width: 90%;
}

// messages page
.messages-content {
	.ui-listview {
		@include box-shadow(none);
		.ui-btn {
			padding: 4px 0;
			background: none;
			border-width: 0 0 1px 0;	
			@include border-radius(0);
			border-color: #b48640;
			&:first-child {
				border-top-width: 1px;
			}
		}
		.ui-btn-active {
			background: rgba(159,109,0,.1);
			.ui-icon {
				@include icon-svg(arr1-act, 6, 11); 
			}
			.message-text {
				color: #71320b;
			}
		}
		.ui-btn-inner {
			border: 0;
		}
		.ui-link-inherit {
			padding-left: 10px !important;
			min-height: 50px !important;
			@include box-sizing(border-box);
		}
		.ui-icon {
			margin-top: -5px;
			@include icon-svg(arr1, 6, 11); 
			background-color: transparent;
			@include border-radius(0);
			background-position: 0 0;
			@include box-shadow(none);
		}
	}
}
.message-img {
	display: inline-block !important;  
	margin-right: 7px;
	padding: 0 !important;
	vertical-align: middle;
	width: 37px;
	height: 37px;
	img {
		margin-top: 7px;
		width: 37px;
		height: 37px;
	}
}
.message-boby {
	display: inline-block;
	vertical-align: middle;
}
.message-title {
	display: block;
	color: #543300 !important;
	font-size: 18px;
	text-shadow: none;
	text-decoration: none;
}
.message-text {
	white-space: normal;
	font-size: 12px;
	line-height: 15px;
	color: #bd4900;
	text-shadow: none;
	@include got_r;
}

.choose-address {
	display: inline-block;
	height: 17px;
	line-height: 17px;
	padding: 0 7px;
	@include border-radius(5px);
	border: 1px solid #bd4900;
	@include background(linear-gradient(bottom, #f50, #ff7900));
	color: #fff !important;
	text-shadow: 0 1px 0 rgba(0,0,0,.8);
	text-decoration: none;
}

// My cards page
.my-cards-content {
	padding: 10px !important;
	overflow: visible;
	.content-wrap {
		padding-bottom: 87px;
	}
}
.my-card {
	position: relative;
	display: block;  
	margin-bottom: 10px;
	height: 100px;
	background-size: cover;
	@include border-radius(5px);
	box-shadow: 0 0 7px rgba(0,0,0,.6);
	text-decoration: none;
}
.my-card__badge {
	position: absolute;
	right: 0;
	bottom: 13px;
	padding: 3px 12px 3px 7px;
	@include border-radius(5px 0 0 5px);
	@include background(linear-gradient(left, #f50, #ff7900));
}
.my-card__place {
	display: block;
	color: #fff;
	@include hel_b;
	font-size: 15px;
	text-shadow: 0 1px 0 #bd4900;
}
.my-card__place-info {
	font-size: 12px;
	color: #bd4900;
	@include hel_m;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.more-cards {
	position: absolute;
	right: 12px;
	top: -100px;
	padding-right: 10px;
	text-align: right;
	font-size: 12px;
	@include hel_m;
	color: #bd4900;
	text-shadow: 0 1px 0 #fff;
	span {
		display: block;
	}
	i {
		display: inline-block;
		margin: 10px 19px 0 0;
		@include icon-svg(arr2, 31, 41);
	}
}
.btns-wrap {
	display: inline-block;
	padding-right: 24px;
	background: url(../img/btns-wrap-bg.png) 100% 0 no-repeat;
	@include background-size(auto, 100%);
}
.btn-equal {
	margin: 0 4px;
	width: 34px;
	height: 34px;
	line-height: 28px;
	@include box-sizing(border-box);
	.ui-btn-inner {
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}
	.ui-btn-text {
		width: 0;
	}
}
.btn-email {
	.ui-btn-inner {
		@include icon-svg(email, 17, 13);
		overflow: visible;
	}
	.ui-btn-text {
		position: absolute;
		right: 16px;
		top: -16px;
		width: 16px;
		height: 16px;
		line-height: 15px;
		@include box-sizing(border-box);
		background: #bd4900;
		border: 1px solid #ffe417;
		@include border-radius(50%);
		font-size: 9px;
		color: #fff;
		text-align: center;
		@include hel_m;
	}
}
.btn-edit {
	.ui-btn-inner {
		@include icon-svg(edit, 13, 19);  
	}
}
.btn-info {
	.ui-btn-inner {
		@include icon-svg(info, 18, 18);  
	}
}
.bnt-enter-reg {
	text-align: left;
	padding-left: 7px;
	width: 127px;
}
.btn-import {
	float: right;
	padding-right: 12px;
	.ui-icon {
		@include icon-svg(cards-act, 19, 18);
		background-position: 0 0;  
		background-color: transparent;
		@include box-shadow(none);
	}
	.ui-btn-text {
		margin-left: 35px;
	}
}
.btn-back {
	float: right;
	line-height: 41px;
	width: 32px;
	height: 32px;
	.ui-btn-inner {
		display: inline-block;
		@include icon-svg(back, 22, 20);
	}
}

.camera {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -111px 0 0 -111px;
	width: 222px;
	height: 222px;
	z-index: 1000;
	@include icon-svg(camera, 222, 222);  
}
.camera-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.map {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-bottom: -150px;
	a {
		text-decoration: none;
	}
}
.tooltip {
	@include box-sizing(border-box);
	padding: 8px;  
	position: absolute;
	z-index: 1000;
	border: 1px solid #bd4900;
	@include box-shadow(0 0 5px rgba(0,0,0,.5));
	@include border-radius(5px);
	@include background-image(linear-gradient(left, #f50, #ff7900));
	&:after {
		content: "";
		position: absolute;
		bottom: -4px;
		right: 12px;
		width: 5px;
		height: 5px;
		border: 1px solid #bd4900;
		border-width: 0 1px 1px 0;
		background: #ff7900;
		@include rotate(45);
		@include box-shadow(1px 2px 4px -1px rgba(0,0,0,.3));
	}
}
.tooltip__img {
	margin-right: 4px;
}
.tooltip__img,
.tooltip__main {
	display: inline-block;
	vertical-align: middle;
}
.tooltip__title {
	display: block;
	@include hel_b;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.tooltip__info {
	font-size: 12px;
	color: #bd4900;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.slider {
	position: relative;
	@include user-select; 
	margin-top: 30px;
	height: 200px;
	@include switch-on-gpu;
	.is-active {
		z-index: 1000;
	}
	.is-disabled {
		@include switch-on-gpu;
		-webkit-animation-play-state: running;
    	animation-play-state: running;
	}
}
.is-left-swipe {
	.is-disabled {
		@include animation(anim-left 1s linear 1);
	}
}
.is-right-swipe {
	.is-disabled {
		@include animation(anim-right 1s linear 1);
	}
}
@include keyframes(anim-left) {
    0% {
        left: -50%;
        z-index: 2000;
    }
    25% {
        left: -120%;
        //top: -30px;
        z-index: -1;
    }
    50% {
        left: -50%;
        //top: -10px;
    } 
    75% {
       left: 0;
    }
    100% {
        //top: 0;
    }
}
@include keyframes(anim-right) {
    0% {
        left: 50%;
        z-index: 2000;
    }
    25% {
        left: 120%;
        //top: -30px;
        z-index: -1;
    }
    50% {
        left: 50%;
        //top: -10px;
    } 
    75% {
       left: 0;
    }
    100% {
        //top: 0;
    }
}
.slide {
	position: absolute;
	width: 100%;
	height: 171px;
	background: url(../img/slide.png) 0 0;
	//@include background-size(50%, 50%);
	@include border-radius(7px);  
	@include switch-on-gpu;
	@include box-shadow(0 0 5px rgba(0,0,0,.5));
	&:nth-child(1) {
		top: -10px;
		left: -5px;
		
	}
	&:nth-child(2) {
		top: -20px;
		left: 10px;
		
	}
	&:nth-child(3) {
		top: 10px;
		left: 5px;
		
	}
	&:nth-child(4) {
		top: 20px;
		left: -10px;
	}
	&:nth-child(5) {
		
	}
}

.slide_done {
	.slide__top {
		text-align: center;
	}
}
.slide_finish {
	.slide__overlay {
		opacity: 1;
	}
}
.slider__to-camera {
	text-decoration: none;
}
.icon-cup {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 10px;
	margin-left: -20px;
	@include icon-svg(cup, 40, 40); 
}
.slide__message {
	position: absolute;
	width: 100%;
	top: 55px;
	color: #fff;
	text-align: center;
}
.slide__top {
	height: 52px; 
	padding: 0 10px;
	line-height: 52px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	@include got_l;
	text-overflow: ellipsis;
	text-shadow: 0 1px 0 #000;
	@include box-sizing(border-box);
}
.slide__top-title {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
}
.slide__middle {
	position: relative;
	background: url(../img/slide-m.png) 0 0;
	height: 85px;
	// -webkit-background-size: cover;
	//      -o-background-size: cover;
	//         background-size: cover;
}
.slide__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include background-image(linear-gradient(left, #f50, #ff7900));
	opacity: .4;
}
.slide__list { 
	margin: 0;
	padding: 0 10px;
	height: 85px;
	line-height: 85px;
	@extend %clr;
	//text-align: center;
	overflow: hidden;
	list-style: none;
}
.slide__list-1 {
	.slide__item {
		width: 100%;
	}
}
.slide__list-2 {
	.slide__item {
		width: 50%;
	}
}
.slide__list-3 {
	.slide__item {
		width: 33.3%;
	}
}
.slide__list-4 {
	.slide__item {
		width: 25%;
	}
}
.slide__list-5 {
	.slide__item {
		width: 20%;
	}
}
.slide__list-6 {
	.slide__item {
		width: 16.6%;
	}
}
.slide__list-7 {
	.slide__item {
		width: 14.2%;
	}
}
.slide__list-8 {
	.slide__item {
		width: 12.5%;
	}
}
.slide__list-9 {
	.slide__item {
		width: 11.1%;
	}
}
.slide__list-10 {
	.slide__item {
		width: 10%;
	}
}
.slide__list-6,
.slide__list-7,
.slide__list-8,
.slide__list-9,
.slide__list-10 {
	@include respond-to(640) {
		.slide__qr {
			@include icon-svg(qr, 20, 20); 
		}
	}
}
.slide__item {
	position: relative;
	float: left;
	width: auto;
	text-align: center;
	@include box-sizing(border-box);
	background: url(../img/slide-sep-s.png) 0 50% no-repeat;
	&:nth-child(1) {
		background: none;
		.slide__qr {
			@include rotate(-30);
		}
	}
	&:nth-child(2) {
		.slide__qr {
			@include rotate(30);
		}
	}
	&:last-child {
		// width: 100%;
		// height: 0;
		&:after {
			display: none;
		} 
		.slide__qr {
			@include rotate(10);
		}

	}
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	right: 0;
	// 	top: 3px;
	// 	height: 68px;
	// 	width: 3px;
	// 	background: url(../img/slide-sep.png) 0 0 no-repeat;
	// 	@include background-size(auto, 100%);
	// }
	.is-inactive {			
		opacity: .3; 
	}
}
.slide__qr {
	display: inline-block;
	@include icon-svg(qr, 29, 29); 
	background-repeat: no-repeat;
	vertical-align: middle;
	@include rotate(5);
}

.slide__bottom {
	height: 34px;
	line-height: 34px;
	padding-left: 5px;
	color: #7b4d0c;
	text-shadow: 0 -1px 0 #000;
}

.ui-collapsible-set {
	@include border-radius(0);
	.ui-collapsible {
		margin-bottom: 3px;
		@include border-radius(7px);
		&:first-child,
		&:last-child {
			@include border-radius(7px);
		}
	}
}

.slide-collaps {
	@include border-radius(7px);
	.slide__top {
		padding: 0;
		.ui-btn {
			border: 0;
			height: 52px; 
			padding: 0 10px;
			line-height: 52px;
			text-align: center;
			text-overflow: ellipsis;
			@include box-sizing(border-box);
			background: url(../img/slide.png) 0 0;
		}
		.ui-btn-inner {
			white-space: normal;
			padding-left: 0;
		}
		.ui-btn-text {
			color: #fff;
			font-size: 15px;
			@include got_l;
			text-shadow: 0 1px 0 #000;
		}
		.ui-icon {
			display: none;
		}
	}
	.ui-collapsible-content {
		padding: 0;
		border: 0;
	}
	.slide__bottom {
		color: #fff;
		@include border-radius(0 0 7px 7px);
		background: url(../img/slide.png) 0 0;
	}
	&:nth-child(2) {
		.ui-btn,
		.slide__bottom  {
			background: url(../img/slide2.png) 0 0;
		}
	}
	&:nth-child(3) {
		.ui-btn,
		.slide__bottom  {
			background: url(../img/slide3.png) 0 0;
		}
	}
	&:nth-child(4) {
		.ui-btn,
		.slide__bottom  {
			background: url(../img/slide4.png) 0 0;
		}
	}
}

.slider-nav {
	margin-top: 33px;
	text-align: center;
	span {
		display: inline-block;
		margin-right: 6px;
		width: 8px;
		height: 8px;
		background: #d58434;
		@include border-radius(50%);
		@include box-shadow(0 1px 0 #fff);
	}
	.is-active {
		background: #894e14;
	}
}
.slider-nav_top {
	margin: 5px 0 25px;
}
.slider-text {
	margin-top: 5px;
	text-align: center;
	font-size: 12px;
	text-shadow: 0 1px 0 #fff;
	ul {
		list-style: none;
	}
}
.slider-text_bottom {
	margin-top: 20px;
}
.cycle-slideshow {
	img {
		position: absolute;
	}
}

.explain {
	position: absolute;
	top: 50%;
	margin-top: -107px;
	z-index: 2;
	width: 100%;
	text-align: center;
	color: #fff;
	@include got_m;
	font-size: 12px;
	p {
		margin: 10px auto 0;
		width: 160px;
		text-align: left;
	}
	.ui-link {
		color: #fff;
		&:active,
		&:visited {
			color: #fff;
		}
	}
}
.explain__img {
	display: block;
	margin: 0 auto;
	width: 140px;
	height: 141px;
	background: url(../img/explain.png) 0 0 repeat;
	@include background-size(100%, 100%);
	
}
.overlay {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);
}

.message {
	text-align: center;
	font-size: 12px;
	.qr {
		margin-top: 30px;
	}
	.ui-btn {
		margin-top: 20px;
		padding: 0 10px;
	}
}
.message__author {
	margin: 20px 0 10px;
	color: #71320B;
}
.qr {
	i {
		display: inline-block;
		margin-right: 10px;
		@include icon-svg(qr, 29, 29);
		background-repeat: no-repeat;
		vertical-align: middle;
		@include rotate(5);
	}
	div {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
	}
	strong {
		display: block;
		color: #71320b;
		font-weight: normal;
	}
}

.check-wrap {
	position: relative;
	.check-counter {
		position: absolute;
		right: 20px;
		top: 14px;
		z-index: 2;
		width: 24px;
		text-align: center;
		color: #fff;
		font-size: 12px;
		text-shadow: 0 1px 0 #bd4900;
	}
	.icon {
		position: absolute;
		left: 0;
		top: 15px;
		z-index: 2;
	}
}
.icon_rest {
	top: 12px;
	@include sized-spriter($icons, rest);
}
.icon_coffe {
	@include sized-spriter($icons, coffe);
}
.icon_parik {
	@include sized-spriter($icons, parik);
}
.icon_cinema {
	top: 18px;
	@include sized-spriter($icons, cinema);
}
.icon_shop {
	@include sized-spriter($icons, shop);
}
.icon_club {
	@include sized-spriter($icons, club);
}

.ui-checkbox {
	margin-left: 39px;
	border-radius: 0 !important;  
	@include user-select;
	.ui-btn {
		background: none;
		border-width: 0 0 1px 0;
		@include box-shadow(none);
	}
	.ui-btn-text {
		font-size: 18px;
		color: #bd4900;
		@include got_r;
	}
	.ui-btn-inner {
		padding: 10px 0;
	}
	input {
		opacity: 0;
	}
	.ui-icon {
		width: 52px;
		height: 18px;
		@include border-radius(10px); 
		background-position: 0 0;
		background-color: transparent;
		@include background-image(linear-gradient(top, #ff7900, #f50 ));
		&:before {
			content: "";
			position: absolute;
			top: 50%;  
			left: 3px;
			margin-top: -6px;
			width: 16px;
			height: 12px;
			background: #eac07d;
			@include border-radius(7px);
		}
		
	}
	.ui-icon-checkbox-on {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 6px;
			@include icon-svg(check, 12, 14);
		}
	}
}