@import "base";

// Login page and registration page
.login-content {
	text-align: center;
}
.ui-link.forgot-pass-link {
	font-size: 10px;
	color: #bd4900;
	font-weight: normal;
	text-shadow: none;
}
.ha-ha-funny {
	margin-top: 20px;
}

// About us page
.about-us-content {
	margin: 0 auto;
	width: 90%;
}

// messages page
.messages-content {
	.ui-listview {
		box-shadow: none;
		.ui-btn {
			background: none;
			border-width: 0 0 1px 0;	
			border-radius: 0;
			&:first-child {
				border-top-width: 1px;
			}
		}
		.ui-btn-active {
			background: rgba(159,109,0,.1);
			.ui-icon {
				@include icon-svg(arr1-act, 6, 11); 
			}
			.message-text {
				color: #71320b;
			}
		}
		.ui-btn-inner {
			border: 0;
		}
		.ui-li-thumb {
			position: static;
			float: none;
			margin-right: 7px;
			padding-right: 10px;
			width: 37px;
			height: 37px;
			border-radius: 0;
			border-right: 1px solid #bd4900;
			vertical-align: middle;
		}
		.ui-link-inherit {
			padding-left: 10px !important;
			min-height: 50px !important;
			box-sizing: border-box;
		}
		.ui-icon {
			margin-top: -5px;
			@include icon-svg(arr1, 6, 11); 
			background-color: transparent;
			border-radius: 0;
			background-position: 0 0;
			box-shadow: none;
		}
	}
}

.message-text {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	font-size: 12px;
	line-height: 15px;
	color: #bd4900;
	text-shadow: none;
}

// My cards page
.my-cards-content {
	padding: 10px !important;
}
.my-card {
	position: relative;
	display: block;  
	margin-bottom: 10px;
	height: 100px;
	background-size: cover;
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(0,0,0,.6);
}
.my-card__badge {
	position: absolute;
	right: 0;
	bottom: 13px;
	padding: 3px 12px 3px 7px;
	border-radius: 5px 0 0 5px;
	background: -webkit-linear-gradient(left, #f50, #ff7900);
	background: linear-gradient(left, #f50, #ff7900);
}
.my-card__place {
	display: block;
	color: #fff;
	@include hel_b;
	font-size: 15px;
	text-shadow: 0 1px 0 #bd4900;
}
.my-card__place-info {
	font-size: 12px;
	color: #bd4900;
	@include hel_m;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.btns-wrap {
	display: inline-block;
	padding-right: 24px;
	background: url(../img/btns-wrap-bg.png) 100% 0 no-repeat;
	-webkit-background-size: auto 100%;
	        background-size: auto 100%;
}
.btn-equal {
	width: 34px;
	height: 34px;
	line-height: 28px;
	box-sizing: border-box;
	.ui-btn-inner {
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}
	.ui-btn-text {
		width: 0;
	}
}
.btn-email {
	.ui-btn-inner {
		@include icon-svg(email, 17, 13);
		overflow: visible;
	}
	.ui-btn-text {
		position: absolute;
		right: 16px;
		top: -16px;
		width: 16px;
		height: 16px;
		line-height: 15px;
		box-sizing: border-box;
		background: #bd4900;
		border: 1px solid #ffe417;
		border-radius: 50%;
		font-size: 9px;
		color: #fff;
		text-align: center;
		@include hel_m;
	}
}
.btn-edit {
	.ui-btn-inner {
		@include icon-svg(edit, 13, 19);  
	}
}
.btn-info {
	.ui-btn-inner {
		@include icon-svg(info, 18, 18);  
	}
}
.bnt-enter-reg {
	text-align: left;
	padding-left: 7px;
	width: 127px;
}
.btn-import {
	float: right;
	padding-right: 12px;
	.ui-icon {
		@include icon-svg(cards-act, 19, 18);
		background-position: 0 0;  
		background-color: transparent;
		box-shadow: none;
	}
	.ui-btn-text {
		margin-left: 35px;
	}
}