@import "base";

// Login page and registration page
.login-content {
	text-align: center;
}
.ui-link.forgot-pass-link {
	font-size: 10px;
	color: #bd4900;
	font-weight: normal;
	text-shadow: none;
}
.ha-ha-funny {
	margin-top: 20px;
}

// About us page
.about-us-content {
	margin: 0 auto;
	width: 90%;
}

// messages page
.messages-content {
	.ui-listview {
		@include box-shadow(none);
		.ui-btn {
			background: none;
			border-width: 0 0 1px 0;	
			@include border-radius(0);
			&:first-child {
				border-top-width: 1px;
			}
		}
		.ui-btn-active {
			background: rgba(159,109,0,.1);
			.ui-icon {
				@include icon-svg(arr1-act, 6, 11); 
			}
			.message-text {
				color: #71320b;
			}
		}
		.ui-btn-inner {
			border: 0;
		}
		.ui-li-thumb {
			position: static;
			float: none;
			margin-right: 7px;
			padding-right: 10px;
			width: 37px;
			height: 37px;
			@include border-radius(0);
			border-right: 1px solid #bd4900;
			vertical-align: middle;
		}
		.ui-link-inherit {
			padding-left: 10px !important;
			min-height: 50px !important;
			@include box-sizing(border-box);
		}
		.ui-icon {
			margin-top: -5px;
			@include icon-svg(arr1, 6, 11); 
			background-color: transparent;
			@include border-radius(0);
			background-position: 0 0;
			@include box-shadow(none);
		}
	}
}

.message-text {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	font-size: 12px;
	line-height: 15px;
	color: #bd4900;
	text-shadow: none;
}

// My cards page
.my-cards-content {
	padding: 10px !important;
}
.my-card {
	position: relative;
	display: block;  
	margin-bottom: 10px;
	height: 100px;
	background-size: cover;
	@include border-radius(5px);
	box-shadow: 0 0 7px rgba(0,0,0,.6);
	text-decoration: none;
}
.my-card__badge {
	position: absolute;
	right: 0;
	bottom: 13px;
	padding: 3px 12px 3px 7px;
	@include border-radius(5px 0 0 5px);
	@include background(linear-gradient(left, #f50, #ff7900));
}
.my-card__place {
	display: block;
	color: #fff;
	@include hel_b;
	font-size: 15px;
	text-shadow: 0 1px 0 #bd4900;
}
.my-card__place-info {
	font-size: 12px;
	color: #bd4900;
	@include hel_m;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.btns-wrap {
	display: inline-block;
	padding-right: 24px;
	background: url(../img/btns-wrap-bg.png) 100% 0 no-repeat;
	@include background-size(auto, 100%);
}
.btn-equal {
	width: 34px;
	height: 34px;
	line-height: 28px;
	@include box-sizing(border-box);
	.ui-btn-inner {
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}
	.ui-btn-text {
		width: 0;
	}
}
.btn-email {
	.ui-btn-inner {
		@include icon-svg(email, 17, 13);
		overflow: visible;
	}
	.ui-btn-text {
		position: absolute;
		right: 16px;
		top: -16px;
		width: 16px;
		height: 16px;
		line-height: 15px;
		@include box-sizing(border-box);
		background: #bd4900;
		border: 1px solid #ffe417;
		@include border-radius(50%);
		font-size: 9px;
		color: #fff;
		text-align: center;
		@include hel_m;
	}
}
.btn-edit {
	.ui-btn-inner {
		@include icon-svg(edit, 13, 19);  
	}
}
.btn-info {
	.ui-btn-inner {
		@include icon-svg(info, 18, 18);  
	}
}
.bnt-enter-reg {
	text-align: left;
	padding-left: 7px;
	width: 127px;
}
.btn-import {
	float: right;
	padding-right: 12px;
	.ui-icon {
		@include icon-svg(cards-act, 19, 18);
		background-position: 0 0;  
		background-color: transparent;
		@include box-shadow(none);
	}
	.ui-btn-text {
		margin-left: 35px;
	}
}

.camera {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -111px 0 0 -111px;
	width: 222px;
	height: 222px;
	z-index: 1000;
	@include icon-svg(camera, 222, 222);
}
.camera-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.map {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.tooltip {
	@include box-sizing(border-box);
	padding: 8px;  
	position: absolute;
	z-index: 1000;
	border: 1px solid #bd4900;
	@include box-shadow(0 0 5px rgba(0,0,0,.5));
	@include border-radius(5px);
	@include background-image(linear-gradient(left, #f50, #ff7900));
	&:after {
		content: "";
		position: absolute;
		bottom: -4px;
		right: 12px;
		width: 5px;
		height: 5px;
		border: 1px solid #bd4900;
		border-width: 0 1px 1px 0;
		background: #ff7900;
		@include rotate(45);
		@include box-shadow(1px 2px 4px -1px rgba(0,0,0,.3));
	}
}
.tooltip__img {
	margin-right: 4px;
}
.tooltip__img,
.tooltip__main {
	display: inline-block;
	vertical-align: middle;
}
.tooltip__title {
	display: block;
	@include hel_b;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.tooltip__info {
	font-size: 12px;
	color: #bd4900;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.slider {
	position: relative;
	@include user-select; 
	margin-top: 15px;
}
.slide {
	position: absolute;
	width: 100%;
	height: 171px;
	background: url(../img/slide.png) 0 0;
	@include background-size(50%, 50%);
	@include border-radius(7px);
	@include box-shadow(0 0 5px rgba(0,0,0,.5));
}
.slide__top {
	height: 52px; 
	line-height: 52px; 
	padding-left: 20px;
	color: #fff;
	font-size: 15px;
	@include got_l;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: 0 1px 0 #000;
}
.slide__middle {
	background: url(../img/slide-m.png) 0 0;
	height: 85px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.slide__list { 
	padding: 0 10px;
	height: 85px;
	line-height: 85px;
	@extend %clr;
	text-align: justify;
	overflow: hidden;
}
.slide__item {
	position: relative;
	display: inline-block;
	text-align: center;
	&:nth-child(1) {
		.slide__qr {
			@include rotate(-30);
		}
	}
	&:nth-child(2) {
		.slide__qr {
			@include rotate(30);
		}
	}
	&:last-child {
		width: 100%;
		height: 0;
		&:after {
			display: none;
		} 
		.slide__qr {
			@include rotate(10);
		}

	}
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	right: 0;
	// 	top: 3px;
	// 	height: 68px;
	// 	width: 3px;
	// 	background: url(../img/slide-sep.png) 0 0 no-repeat;
	// 	@include background-size(auto, 100%);
	// }
	.is-inactive {			
		opacity: .3; 
	}
}
.slide__qr {
	display: inline-block;
	@include icon-svg(qr, 29, 29); 
	background-repeat: no-repeat;
	vertical-align: middle;
	@include rotate(5);
}

.slide__bottom {
	height: 34px;
	line-height: 34px;
	padding-left: 5px;
	color: #7b4d0c;
	text-shadow: 0 -1px 0 #000;
}

.slider-nav {
	margin-top: 33px;
	text-align: center;
	button {
		margin-right: 6px;
		width: 8px;
		height: 8px;
		background: #d58434;
		@include border-radius(50%);
		@include box-shadow(0 1px 0 #fff);
	}
	.cycle-pager-active {
		background: #894e14;
	}
}
.slider-text {
	margin-top: 5px;
	text-align: center;
	font-size: 12px;
	text-shadow: 0 1px 0 #fff;
}
.cycle-slideshow {
	img {
		position: absolute;
	}
}